{% load staticfiles %}

<html>
<meta name="viewport" content="width=device-width"/>
    <head>
        <title>Diário de Cultivo :: Tempo Real</title>
		<link rel="stylesheet" href="{% static 'estilo.css'%}">
    </head>
    <body>

	<div class="cabecalho">
		<h1>Diário de Cultivo</h1>

		<ul>
			<li><a href="/temporeal">Tempo Real</a></li>
			<li><a href="/buscar">Buscar</a></li>
		</ul>
	</div>

	<form action="/cadastrar/" method="post">
    	{% csrf_token %}
    	{{ form.as_p }}
    	<input type="submit" value="Cadastrar" />
	</form>

    </body>
</html>
