{% load staticfiles %}

<html>
<meta name="viewport" content="width=device-width"/>
    <head>
        <title>Diário de Cultivo :: Histórico</title>
		<link rel="stylesheet" href="{% static 'estilo.css'%}">
    </head>
    <body>

	<div class="cabecalho">
		<h1>Diário de Cultivo</h1>

		<ul>
			<li><a href="/temporeal">Tempo Real</a></li>
			<li><a href="/historico">Historico</a></li>
			<li><a href="/cadastrar">Cadastrar</a></li>
			<li><a href="/buscar">Buscar</a></li>
		</ul>
	</div>

	{% for post in posts %}
	<div class="post">
    	<p><h3><b>Data: {{ post.data_publicacao }}</b></h3></p>
    	<p>{{ post.comentarios|linebreaksbr }}</p>

		<table>
			<tr>
				<td><img src="{{MEDIA_URL}}{{ post.foto }}" /></td>
				<td width="40%">
					<table>
						<tr>
							<td colspan = "2"><b>Dados da amostragem:</b><td>
						</tr>
						<tr>
							<td>pH da água:</td>
							<td>{{ post.ph }}</td>
						</tr>
						<tr>
							<td>Temperatura da água:</td>
							<td>{{ post.temp_agua }}</td>
						</tr>
						<tr>
							<td>Temperatura do ar:</td>
							<td>{{ post.temp_ar }}</td>
						</tr>
						<tr>
							<td>Iluminância</td>
							<td>{{ post.lux }}</td>
						</tr>
						<tr>
							<td style="background-color:White" colspan="2"><i><a href="{{MEDIA_URL}}{{ post.historico_medicoes }}">relatorio.txt</i></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	{% endfor %}
    </body>
</html>
