{% load staticfiles %}

<html>
<meta name="viewport" content="width=device-width">
    <head>
        <title>Diário de Cultivo :: Histórico</title>
		<link rel="stylesheet" href="{% static 'estilo.css'%}">
    </head>
    <body>

	<div class="cabecalho">
		<h1>Diário de Cultivo</h1>

		<ul>
			<li><a href="/temporeal">Tempo Real</a></li>
			<li><a href="/historico">Historico</a></li>
			<li><a href="/cadastrar">Cadastrar</a></li>
		</ul>
	</div>

	{% for post in posts %}
	<div class="post">
    	<p><h3><b>Data: {{ post.data_publicacao }}</b></h3></p>
    	<p>{{ post.comentarios|linebreaksbr }}</p>
				
		<table>
			<tr>
				<td>pH da água:</td>
				<td>{{ post.ph }}</td>
			</tr>
			<tr>
				<td>Temperatura da água:</td>
				<td>{{ post.temp_agua }}</td>
			</tr>
			<tr>
				<td>Temperatura do ar:</td>
				<td>{{ post.temp_ar }}</td>
			</tr>
			<tr>
				<td>Iluminância</td>
				<td>{{ post.lux }}</td>
			</tr>
		</table>

		<img src="{{MEDIA_URL}}/{{ post.foto }}" />
	</div>
	{% endfor %}
    </body>
</html>
