{% load staticfiles %}

<html>
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="refresh" content="5" />
    <head>
        <title>Diário de Cultivo :: Tempo Real</title>
		<link rel="stylesheet" href="{% static 'estilo.css'%}">
    </head>
    <body>

	<div class="cabecalho">
		<h1>Diário de Cultivo</h1>

		<ul>
			<li><a href="/temporeal">Tempo Real</a></li>
			<li><a href="/historico">Historico</a></li>
			<li><a href="/cadastrar">Cadastrar</a></li>
			<li><a href="/buscar">Buscar</a></li>
		</ul>
	</div>

		<table>
			<tr>
				<td><img src="https://blog.emania.com.br/content/uploads/2015/12/paisagem-tropical-wallpaper-1.jpg"></td>
				<td width="40%">
					<table>
						<tr>
							<td colspan = "2"><b>Dados da ultima amostragem:</b><td>
						</tr>
						<tr>
							<td>pH da água:</td>
							<td>{{ medidas.0 }}</td>
						</tr>
						<tr>
							<td>Temperatura da água:</td>
							<td>{{ medidas.1 }}</td>
						</tr>
						<tr>
							<td>Temperatura do ar:</td>
							<td>{{ medidas.2 }}</td>
						</tr>
						<tr>
							<td>Iluminância</td>
							<td>{{ medidas.3 }}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

    </body>
</html>
