{% load staticfiles %}

<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="refresh" content="2" />
    <head>
        <title>Diário de Cultivo :: Tempo Real</title>
		<link rel="stylesheet" href="{% static 'estilo.css'%}">
    </head>
    <body>

	<div class="cabecalho">
		<h1>Hidroponia IOT</h1>

		<ul>
			<li><a href="/temporeal">Tempo Real</a></li>
			<li><a href="/buscar">Buscar</a></li>
			<li><a href="/controlar">Controlar</a></li>
		</ul>
	</div>

		<table>
			<tr>
				<td><img src="{{MEDIA_URL}}camera.jpg"></td>
				<td width="40%">
					<table>
						<tr>
							<td colspan = "2"><b>Dados da ultima amostragem:</b><td>
						</tr>
						<tr>
							<td>pH da água:</td>
							<td>{{ medidas.0 }}</td>
						</tr>
						<tr>
							<td>Temperatura da água:</td>
							<td>{{ medidas.1 }}</td>
						</tr>
						<tr>
							<td>Temperatura do ar:</td>
							<td>{{ medidas.2 }}</td>
						</tr>
						<tr>
							<td>Iluminância</td>
							<td>{{ medidas.3 }}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

    </body>
</html>
