{% load staticfiles %}

<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="refresh" content="2" />
    <head>
        <title>Diário de Cultivo :: Tempo Real</title>
		<link rel="stylesheet" href="{% static 'estilo.css'%}">
    </head>
    <body>

	<div class="cabecalho">
		<h1>Hidroponia IOT</h1>

		<ul>
			<li><a href="/temporeal">Tempo Real</a></li>
			<li><a href="/buscar">Buscar</a></li>
			<li><a href="/controlar">Controlar</a></li>
		</ul>
	</div>

		<div class="fotos">
				<img src="{{MEDIA_URL}}camera.jpg">
		</div>

			
		<table>
			<tr>
				<td id="row1" colspan = "2"><b>&diams;  Dados da Última amostragem  &diams;</b><td>
			</tr>
			<tr>
				<td>pH da água &#8594;</td>
				<td>{{ medidas.0 }}</td>
			</tr>
			<tr>
				<td>Temperatura da água &#8594;</td>
				<td>{{ medidas.1 }}</td>
			</tr>
			<tr>
				<td>Temperatura do ar &#8594;</td>
				<td>{{ medidas.2 }}</td>
			</tr>
			<tr>
				<td>Iluminância &#8594;</td>
				<td>{{ medidas.3 }}</td>
			</tr>
		</table>			
    </body>
</html>
