
body {
	padding-top: 15px;
	text-align: center;
	width:800px;
	margin:auto;
}

.cabecalho {
	width: 100vw;
	font-size:2vw;
	background-color:#2E8B57;
	color: White;
	padding-top:10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	transition: unset;
}

.post {
	background-color:#2E8B57;
	color: White;
	margin: 20px auto;
	padding-top:20px;
	padding-bottom:30px;
	padding-left:10px;
	padding-right:10px;
	text-align:justify;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

img {
	max-width: 100%;
	margin: auto;
	display: block;
	height: auto;
}

ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: unset;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

table {
    border-collapse: collapse;
    width: 100%;
	background-color: White;
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

